*{
    margin: 0;
}
.div1{
    width: 70%;
    height: 100px;
    background: red;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*position: absolute;*/
    /*right: 50px;*/
    float: left;
    margin: 50px 50px;
}