div{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation: anim 5s infinite alternate;/*infinite,无限的;alternate,交替*/
}
@keyframes  anim{
    0% {
        background: red;
        left: 0;
        top: 0
    }
    25% {
        background: blue;
        left: 200px;
        top: 0
    }
    50% {
        background: wheat;
        left: 300px;
        top: 300px
    }
    75% {
        background: #ff6400;
        left: 0;
        top: 200px
    }
    100% {
        background: red;
        left: 0;
        top: 0
    }
}